@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
    /*-- Primary --*/
    --orange: hsl(25, 97%, 53%);
    /*-- Neutral --*/
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 18%);
    --darkBlue: hsl(213, 19%, 13%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    /*-- Font --*/
    --font: "Overpass", sans-serif;
    --fSize: 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color: var(--veryDarkBlue);
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: var(--darkBlue);
    border-radius: 7%;
    padding: 35px;
}
.card-rating .start.hide {
    display: none;
}
.card-rating .start img {
    height: 55px;
    background-color: var(--mediumGrey);
    padding: 18px;
    border-radius: 50%;
}
.card-rating .start .text h1 {
    font-size: 34px;
    font-weight: 700;
    color: var(--white);
    padding: 40px 0 20px;
}
.card-rating .start .text p {
    color: var(--lightGrey);
    font-size: 18px;
    line-height: 30px;
}
.card-rating .start .numbers {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card-rating .start .numbers .number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: var(--mediumGrey);
    color: var(--lightGrey);
    font-size: 19px;
    font-weight: 700;
    padding: 15px;
    border-radius: 30px;
    transition: 0.4s all;
}
.card-rating .start .numbers .number.selected {
    background-color: var(--lightGrey);
    color: var(--white);
}
.card-rating .start .numbers .number:hover {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
}

.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--orange);
    color: var(--white);
    padding: 15px 24px;
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
    letter-spacing: 3px;
    transition: 0.3s all;
}
.submit:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
}
.card-rating .end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-rating .end img {
    padding: 25px 0 30px;
}
.card-rating .end h2 {
    color: var(--white);
    font-size: 31px;
    margin-top: 20px;
}
.card-rating .end p {
    color: var(--lightGrey);
    text-align: center;
    padding: 20px 15px;
}

.card-rating .end .sel {
    font-size: var(--fSize);
    background-color: var(--mediumGrey);
    color: var(--orange);
    padding: 7px 25px;
    margin: 15px auto;
    border-radius: 20px;
}

.card-rating .end.hide {
    display: none;
}

@media (max-width: 375px) {
    .card-rating {
        height: 400px;
        width: 90%;
    }
    .card-rating .start img {
        height: 45px;
        padding: 10px;
    }
    .card-rating .start .text h1 {
        font-size: 27px;
        padding: 15px 0;
    }
    .card-rating .start .text p {
        font-size: 15px;
    }
    .card-rating .start .numbers {
        margin: 15px auto;
    }
    .card-rating .start .numbers .number {
        height: 45px;
        width: 45px;
        font-size: 16px;
        padding: 5px;
    }
    .submit {
        padding: 10px;
        font-size: 15px;
    }
    .card-rating .end img {
        padding: 15px 0;
    }
    .card-rating .end h2 {
        font-size: 27px;
        margin-top: 5px;
    }
    .card-rating .end p {
        text-align: center;
        font-size: 14px;
        line-height: 25px;
        padding: 10px 0;
    }
}
